@import './tabs-map.scss';
:host {
    --tabs-font-family: var(--global-font-family);
    --tabs-font-color-inactive: var(--tertiary-text);
}
  :host .tab {
    display: flex;
    position: relative;
    font-family: var(--tabs-font-family);
    font-weight: var(--font-weight-regular);
    width: auto;
    background-color: var(--neutral);    
    color: var(--tabs-font-color-inactive);
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;    
  }


